{% extends 'base.html' %} {% block title %} Home {% endblock %} {% block hi %}
<h1>Top Posts</h1>
<hr />
<section>
  <div class="card-columns">
    {% for post in posts%}
    <div class="card">
      <a href="{% url "posts:post" slug=post.slug %}">
        <img
          class="card-img-top"
          src="{{post.banner.url}}"
          alt="{{post.title}}"
        />
      </a>
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text truncate-multiline">{{post.body}}</p>
        <div class="card-footer">
          <small class="text-muted">{{post.date}}</small>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
</section>
{% endblock %}
